.container-overlap.bg-indigo-500
    .media.m0.pv
        .media-left
            a(href='#')
                img.media-object.img-circle.thumb64(src='app/img/user/01.jpg', alt='User')
        .media-body.media-middle
            h4.media-heading Christy Griffin
            span.text-muted Aliquam viverra nibh at ipsum dapibus pulvinar et eu ligula.
.container-lg
    .row
        .col-md-8
            .card
                .card-body
                    form.mt(action='')
                        .input-group.mda-input-group
                            .mda-form-group
                                .mda-form-control
                                    textarea.no-resize.form-control(rows='1', aria-multiline='true', tabindex='0', aria-invalid='false')
                                    .mda-form-control-line
                                    label.m0 What's on your mind?
                                span.mda-form-msg.right Any message here
                            span.input-group-btn
                                button.btn.btn-flat.btn-success.btn-circle(type='button')
                                    em.ion-checkmark-round
                .card-body
                    // Inner card
                    .card
                        .card-heading
                            // START dropdown
                            .pull-right.dropdown(uib-dropdown='dropdown2')
                                button.btn.btn-default.btn-flat.btn-flat-icon(type='button', uib-dropdown-toggle='')
                                    em.ion-android-more-vertical
                                ul.dropdown-menu.md-dropdown-menu.dropdown-menu-right(role='menu')
                                    li: a(href='') Hide post
                                    li: a(href='') Stop following
                                    li.divider(role='separator')
                                    li: a(href='') Report
                            // END dropdown
                            .media.m0
                                .media-left
                                    a(href='#')
                                        img.media-object.img-circle.thumb48(src='app/img/user/06.jpg', alt='User')
                                .media-body.media-middle.pt-sm
                                    p.media-heading.m0.text-bold Stephen Palmer
                                    small.text-muted
                                        em.ion-earth.text-muted.mr-sm
                                        span 2 hours
                            .p Ut egestas consequat faucibus. Donec id lectus tortor. Maecenas at porta purus. Etiam feugiat risus massa. Vivamus fermentum libero vel felis aliquet interdum. 
                        .card-footer
                            button.btn.btn-flat.btn-primary(type="button") Like
                            button.btn.btn-flat.btn-primary(type="button") Share
                            button.btn.btn-flat.btn-primary(type="button") Comment
                .card-body
                    // Inner card
                    .card
                        .card-heading
                            // START dropdown
                            .pull-right.dropdown(uib-dropdown='dropdown2')
                                button.btn.btn-default.btn-flat.btn-flat-icon(type='button', uib-dropdown-toggle='')
                                    em.ion-android-more-vertical
                                ul.dropdown-menu.md-dropdown-menu.dropdown-menu-right(role='menu')
                                    li: a(href='') Hide post
                                    li: a(href='') Stop following
                                    li.divider(role='separator')
                                    li: a(href='') Report
                            // END dropdown
                            .media.m0
                                .media-left
                                    a(href='#')
                                        img.media-object.img-circle.thumb48(src='app/img/user/05.jpg', alt='User')
                                .media-body.media-middle.pt-sm
                                    p.media-heading.m0.text-bold Ricky Wagner
                                    small.text-muted
                                        em.ion-earth.text-muted.mr-sm
                                        span 10 hours
                        .card-item
                          img.fw.img-responsive(src='app/img/pic6.jpg', alt='MaterialImg')
                          .card-item-text.bg-transparent
                            p The sun was shinning
                        .card-footer
                            button.btn.btn-flat.btn-primary(type="button") Like
                            button.btn.btn-flat.btn-primary(type="button") Share
                            button.btn.btn-flat.btn-primary(type="button") Comment

                .card-body
                    // Inner card
                    .card.reader-block
                        .card-heading
                            // START dropdown
                            .pull-right.dropdown(uib-dropdown='dropdown2')
                                button.btn.btn-default.btn-flat.btn-flat-icon(type='button', uib-dropdown-toggle='')
                                    em.ion-android-more-vertical
                                ul.dropdown-menu.md-dropdown-menu.dropdown-menu-right(role='menu')
                                    li: a(href='') Hide post
                                    li: a(href='') Stop following
                                    li.divider(role='separator')
                                    li: a(href='') Report
                            // END dropdown
                            .media.m0
                                .media-left
                                    a(href='#')
                                        img.media-object.img-circle.thumb48(src='app/img/user/06.jpg', alt='User')
                                .media-body.media-middle.pt-sm
                                    p.media-heading.m0.text-bold Stephen Palmer
                                    small.text-muted
                                        em.ion-earth.text-muted.mr-sm
                                        span Yesterday
                            .p
                                .mb Donec a purus auctor dui hendrerit accumsan non quis augue nisl sed iaculis.
                                a(href='')
                                    img.mr-sm.thumb48(src='app/img/pic1.jpg', alt='Pic')
                                a(href='')
                                    img.mr-sm.thumb48(src='app/img/pic2.jpg', alt='Pic')
                                a(href='')
                                    img.mr-sm.thumb48(src='app/img/pic3.jpg', alt='Pic')
                                a(href='')
                                    img.mr-sm.thumb48(src='app/img/pic4.jpg', alt='Pic')
                        .card-footer
                            button.btn.btn-flat.btn-primary(type="button") Like
                            button.btn.btn-flat.btn-primary(type="button") Share
                            button.btn.btn-flat.btn-primary(type="button") Comment
        .col-md-4
            .push-down
            .card.card-transparent
                h5.card-heading Friends
                .mda-list
                    .mda-list-item
                        img.mda-list-item-img.thumb48(src="app/img/user/01.jpg", alt="List user")
                        .mda-list-item-text.mda-2-line
                            h3: a(href="#") Eric Graves
                            .text-muted.text-ellipsis Ut ac nisi id mauris
                    .mda-list-item
                        img.mda-list-item-img.thumb48(src="app/img/user/02.jpg", alt="List user")
                        .mda-list-item-text.mda-2-line
                            h3: a(href="#") Bruce Ramos
                            .text-muted.text-ellipsis Sed lacus nisl luctus
                    .mda-list-item
                        img.mda-list-item-img.thumb48(src="app/img/user/03.jpg", alt="List user")
                        .mda-list-item-text.mda-2-line
                            h3: a(href="#") Marie Hall
                            .text-muted.text-ellipsis Donec congue sagittis mi
                    .mda-list-item
                        img.mda-list-item-img.thumb48(src="app/img/user/04.jpg", alt="List user")
                        .mda-list-item-text.mda-2-line
                            h3: a(href="#") Russell Hart
                            .text-muted.text-ellipsis Donec convallis arcu sit
                    .mda-list-item
                        img.mda-list-item-img.thumb48(src="app/img/user/05.jpg", alt="List user")
                        .mda-list-item-text.mda-2-line
                            h3: a(href="#") Eric Graves
                            .text-muted.text-ellipsis Ut ac nisi id mauris
                    .mda-list-item
                        img.mda-list-item-img.thumb48(src="app/img/user/06.jpg", alt="List user")
                        .mda-list-item-text.mda-2-line
                            h3: a(href="#") Jessie Cox
                            .text-muted.text-ellipsis Sed lacus nisl luctus
                    .mda-list-item
                        img.mda-list-item-img.thumb48(src="app/img/user/01.jpg", alt="List user")
                        .mda-list-item-text.mda-2-line
                            h3: a(href="#") Jonathan Soto
                            .text-muted.text-ellipsis Donec congue sagittis mi
                    .mda-list-item
                        img.mda-list-item-img.thumb48(src="app/img/user/05.jpg", alt="List user")
                        .mda-list-item-text.mda-2-line
                            h3: a(href="#") Guy Carpenter
                            .text-muted.text-ellipsis Donec convallis arcu sit
