.container-fluid
    h5.mt0 Loaders.css
    p.mb-lg Delightful and performance-focused pure css loading animations.
    .row.loader-primary
        .col-lg-3.col-md-4.col-xs-12: .card
            .card-heading ball-pulse
            .loader-demo: div(loader-css="ball-pulse")
        .col-lg-3.col-md-4.col-xs-12: .card
            .card-heading ball-grid-pulse
            .loader-demo: div(loader-css="ball-grid-pulse")
        .col-lg-3.col-md-4.col-xs-12: .card
            .card-heading ball-clip-rotate
            .loader-demo: div(loader-css="ball-clip-rotate")
        .col-lg-3.col-md-4.col-xs-12: .card
            .card-heading ball-clip-rotate-pulse
            .loader-demo: div(loader-css="ball-clip-rotate-pulse")
        .col-lg-3.col-md-4.col-xs-12: .card
            .card-heading square-spin
            .loader-demo: div(loader-css="square-spin")
        .col-lg-3.col-md-4.col-xs-12: .card
            .card-heading ball-clip-rotate-multiple
            .loader-demo: div(loader-css="ball-clip-rotate-multiple")
        .col-lg-3.col-md-4.col-xs-12: .card
            .card-heading ball-pulse-rise
            .loader-demo: div(loader-css="ball-pulse-rise")
        .col-lg-3.col-md-4.col-xs-12: .card
            .card-heading ball-rotate
            .loader-demo: div(loader-css="ball-rotate")
        .col-lg-3.col-md-4.col-xs-12: .card
            .card-heading cube-transition
            .loader-demo: div(loader-css="cube-transition")
        .col-lg-3.col-md-4.col-xs-12: .card
            .card-heading ball-zig-zag
            .loader-demo: div(loader-css="ball-zig-zag")
        .col-lg-3.col-md-4.col-xs-12: .card
            .card-heading ball-zig-zag-deflect
            .loader-demo: div(loader-css="ball-zig-zag-deflect")
        .col-lg-3.col-md-4.col-xs-12: .card
            .card-heading ball-triangle-path
            .loader-demo: div(loader-css="ball-triangle-path")
        .col-lg-3.col-md-4.col-xs-12: .card
            .card-heading ball-scale
            .loader-demo: div(loader-css="ball-scale")
        .col-lg-3.col-md-4.col-xs-12: .card
            .card-heading line-scale
            .loader-demo: div(loader-css="line-scale")
        .col-lg-3.col-md-4.col-xs-12: .card
            .card-heading line-scale-party
            .loader-demo: div(loader-css="line-scale-party")
        .col-lg-3.col-md-4.col-xs-12: .card
            .card-heading ball-scale-multiple
            .loader-demo: div(loader-css="ball-scale-multiple")
        .col-lg-3.col-md-4.col-xs-12: .card
            .card-heading ball-pulse-sync
            .loader-demo: div(loader-css="ball-pulse-sync")
        .col-lg-3.col-md-4.col-xs-12: .card
            .card-heading ball-beat
            .loader-demo: div(loader-css="ball-beat")
        .col-lg-3.col-md-4.col-xs-12: .card
            .card-heading line-scale-pulse-out
            .loader-demo: div(loader-css="line-scale-pulse-out")
        .col-lg-3.col-md-4.col-xs-12: .card
            .card-heading line-scale-pulse-out-rapid
            .loader-demo: div(loader-css="line-scale-pulse-out-rapid")
        .col-lg-3.col-md-4.col-xs-12: .card
            .card-heading ball-scale-ripple
            .loader-demo: div(loader-css="ball-scale-ripple")
        .col-lg-3.col-md-4.col-xs-12: .card
            .card-heading ball-scale-ripple-multiple
            .loader-demo: div(loader-css="ball-scale-ripple-multiple")
        .col-lg-3.col-md-4.col-xs-12: .card
            .card-heading ball-spin-fade-loader
            .loader-demo: div(loader-css="ball-spin-fade-loader")
        .col-lg-3.col-md-4.col-xs-12: .card
            .card-heading line-spin-fade-loader
            .loader-demo: div(loader-css="line-spin-fade-loader")
        .col-lg-3.col-md-4.col-xs-12: .card
            .card-heading triangle-skew-spin
            .loader-demo: div(loader-css="triangle-skew-spin")
        .col-lg-3.col-md-4.col-xs-12: .card
            .card-heading pacman
            .loader-demo: div(loader-css="pacman")
        .col-lg-3.col-md-4.col-xs-12: .card
            .card-heading ball-grid-beat
            .loader-demo: div(loader-css="ball-grid-beat")
        .col-lg-3.col-md-4.col-xs-12: .card
            .card-heading semi-circle-spin
            .loader-demo: div(loader-css="semi-circle-spin")
