.container.container-md
    .card
        .card-heading
            .card-title Whiteframes
        .card-body
            .card.shadow-z1
                .card-body
                    p.mv-lg.text-center .shadow-z1
            .card.shadow-z2
                .card-body
                    p.mv-lg.text-center .shadow-z2
            .card.shadow-z3
                .card-body
                    p.mv-lg.text-center .shadow-z3
            .card.shadow-z4
                .card-body
                    p.mv-lg.text-center .shadow-z4
            .card.shadow-z5
                .card-body
                    p.mv-lg.text-center .shadow-z5
