.content-heading.bg-white
    .row
        .col-sm-9
            h4.m0.text-thin RiskMan Book 
            small Create, Edit, Enable/Disable Book
.container-fluid(ng-controller='BookController as book')
    .row
        .col-xs-12.col-lg-8
            .card
                .table-responsive
                    table.table.table-striped
                        thead
                            tr
                                th Setting
                                th Value
                        tbody
                            tr
                                td
                                    p.m0 Id
                                td
                                    p.m0 {{book.myBook.id}}
                            tr
                                td
                                    p.m0 Name
                                td
                                    p.m0 
                                        a(editable-text='book.myBook.name') {{book.myBook.name}}
            .card
                .table-responsive
                    table.table.table-striped
                        thead
                            tr
                                th Setting
                                th Value
                        tbody
                            tr
                                td
                                    p.m0 Id
                                td
                                    p.m0 {{book.myBook.id}}
                            tr
                                td
                                    p.m0 Name
                                td
                                    p.m0 
                                        a(editable-text='book.myBook.name') {{book.myBook.name}}
                                    
                                        
            
                