.content-heading.bg-white
    .row
        .col-sm-9
            h4.m0.text-thin RiskMan Book Default Options
            small Here you can define the default options to be used when creating new books on the system.
