.container-fluid

    // START panel
    .card
        .card-heading Basic Table
        // START table-responsive
        .table-responsive
            table.table
                thead
                    tr
                        th #
                        th First Name
                        th Last Name
                        th Username
                tbody
                    tr
                        td 1
                        td Mark
                        td Otto
                        td @mdo
                    tr
                        td 2
                        td Jacob
                        td Thornton
                        td @fat
                    tr
                        td 3
                        td Larry
                        td the Bird
                        td @twitter
        // END table-responsive
    // END panel

    // START row
    .row
        .col-lg-6
            .card
                .card-heading Striped Rows
                .table-responsive
                    table.table.table-striped
                        thead
                            tr
                                th #
                                th First Name
                                th Last Name
                                th Username
                        tbody
                            tr
                                td 1
                                td Mark
                                td Otto
                                td @mdo
                            tr
                                td 2
                                td Jacob
                                td Thornton
                                td @fat
                            tr
                                td 3
                                td Larry
                                td the Bird
                                td @twitter
        .col-lg-6
            .card
                .card-heading Hover Rows
                .table-responsive
                    table.table.table-hover
                        thead
                            tr
                                th #
                                th First Name
                                th Last Name
                                th Username
                        tbody
                            tr
                                td 1
                                td Mark
                                td Otto
                                td @mdo
                            tr
                                td 2
                                td Jacob
                                td Thornton
                                td @fat
                            tr
                                td 3
                                td Larry
                                td the Bird
                                td @twitter
    // END row
    // START row
    .card
        .card-heading Bordered Table
        table.table.table-bordered
            thead
                tr
                    th #
                    th First Name
                    th Last Name
                    th Username
            tbody
                tr
                    td 1
                    td Mark
                    td Otto
                    td @mdo
                tr
                    td 2
                    td Jacob
                    td Thornton
                    td @fat
                tr
                    td 3
                    td Larry
                    td the Bird
                    td @twitter
    .card
        .card-heading Context Classes
        .table-responsive
            table.table
                thead
                    tr
                        th #
                        th First Name
                        th Last Name
                        th Username
                tbody
                    tr.success
                        td 1
                        td Mark
                        td Otto
                        td @mdo
                    tr.info
                        td 2
                        td Jacob
                        td Thornton
                        td @fat
                    tr.warning
                        td 3
                        td Larry
                        td the Bird
                        td @twitter
                    tr.danger
                        td 4
                        td John
                        td Smith
                        td @jsmith
    // END row
