.container-fluid.bg-full.bg-pic1
    .container.container-md
        .row
            .col-md-8
                .card.b0
                    a.card-item.card-media.bg-pic5(href="#")
                    .card-offset.p0
                        .card-offset-item.text-right
                            button.btn-raised.btn.btn-default.btn-circle.btn-lg(type="button") 25
                    .card-body.pt0
                        h5 Nam blandit fringilla faucibus.
                        .clearfix
                            .pull-left
                                span.mr-sm.text-muted by
                                a(href='#') John
                            .pull-right
                                span.text-muted 2 days ago
            .col-md-4
                .card.b0
                    a.card-item.card-media.bg-pic2(href="#")
                    .card-offset.p0
                        .card-offset-item.text-right
                            button.btn-raised.btn.btn-default.btn-circle.btn-lg(type="button") 25
                    .card-body.pt0
                        h5 Maecenas at porta.
                        .clearfix
                            .pull-left
                                span.mr-sm.text-muted by
                                a(href='#') John
                            .pull-right
                                span.text-muted 2 days ago
        .card.b0
            .card-item
                a.card-item.card-media.bg-pic4(href="#")
            .card-offset.p0
                .card-offset-item.text-right
                    button.btn-raised.btn.btn-default.btn-circle.btn-lg(type="button") 52
            .card-body.pt0
                h5 Vestibulum at nisl sit amet
                .clearfix
                    .pull-left
                        span.mr-sm.text-muted by
                        a(href='#') John
                    .pull-right
                        span.text-muted 2 days ago
        .card.b0
            .card-item
                a.card-item.card-media.bg-pic6(href="#")
            .card-offset.p0
                .card-offset-item.text-right
                    button.btn-raised.btn.btn-default.btn-circle.btn-lg(type="button") 1
            .card-body.pt0
                h5 Nam blandit fringilla faucibus.
                .clearfix
                    .pull-left
                        span.mr-sm.text-muted by
                        a(href='#') John
                    .pull-right
                        span.text-muted 2 days ago
        .card.b0
            .card-item
                .card-item.card-media.bg-gray-darker
                    .card-media-quote
                        a.text-inherit(href="#") Phasellus ac turpis sit amet metus suscipit scelerisque quis ac velit.
            .card-body.bb.pb0
                p.text-bold Duis a neque odio, at varius elit. Pellentesque augue velit, dapibus vitae ultricies a, facilisis eu enim Nam in mauris mauris, a accumsan arcu. Integer ut convallis dui...
            .card-body.pt0
                h5 Morbi quis purus velit.
                .clearfix
                    .pull-left
                        span.mr-sm.text-muted by
                        a(href='#') John
                    .pull-right
                        span.text-muted 2 days ago
        .card.b0
            .card-item
                a.card-item.card-media.bg-pic3(href="#")
            .card-offset.p0
                .card-offset-item.text-right
                    button.btn-raised.btn.btn-default.btn-circle.btn-lg(type="button") 3
            .card-body.pt0
                h5 Cum sociis natoque penatibus
                .clearfix
                    .pull-left
                        span.mr-sm.text-muted by
                        a(href='#') John
                    .pull-right
                        span.text-muted 2 days ago
