.container-fluid.bg-full.bg-pic1
    .container.container-md
        .card.animated.fadeInUp.b0
            .card-item.card-media.bg-pic4
                .card-item-text.bg-transparent
                    h4 A truly relaxing moment
            .card-offset
                .card-offset-item.text-right
                    button(type="button").btn-raised.btn.btn-danger.btn-circle.btn-lg
                        em.ion-ios-heart-outline
            .card-body.pt0
                .clearfix
                    p.pull-left.mr
                        a(href='#')
                            img.img-circle.thumb48(src='app/img/user/02.jpg', alt='User')
                    .oh
                        .mt-sm: strong.mr-sm Cody Armstrong
                        .clearfix
                          .pull-left.text-muted
                            span a week ago
                .container.container-xs.reader-block
                    p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi sollicitudin, massa quis posuere mollis, turpis mi suscipit magna, ac tristique tellus arcu pretium mi. Sed quam magna, tincidunt ac fermentum eget, vestibulum id magna. Nullam felis ipsum, tempus at fermentum nec, porttitor eu libero. Curabitur porttitor fermentum dapibus.
                    p Praesent a rhoncus magna. Nam nec tellus tortor. Proin adipiscing, dolor faucibus ullamcorper interdum, urna justo convallis arcu, ultrices auctor enim turpis ut purus. Fusce a egestas turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin euismod malesuada dui ac laoreet. Donec purus leo, lobortis vel volutpat vel, dictum nec augue. Proin ullamcorper lectus ut libero blandit pretium.
                    p.text-center: img.img-thumbnail(src="app/img/pic5.jpg", alt="Article Image")
                    p Cras fringilla ipsum sed elit sodales malesuada. Nam sem magna, tristique non facilisis a, porta ut elit. Vestibulum mauris nisl, dictum vitae dapibus iaculis, tempor sed libero. Ut vestibulum est eget justo facilisis ullamcorper. Pellentesque sodales aliquam lorem, eu tempor enim pretium ac. Aliquam vitae purus dolor. Etiam odio ante, placerat eu accumsan ut, consectetur vel mi. Ut eu aliquam orci.
            .card-body.bg-gray-lighter
                form.mt(action='')
                    .input-group.mda-input-group
                        .mda-form-group.float-label
                            .mda-form-control
                                textarea.form-control(rows='1', aria-multiline='true', tabindex='0', aria-invalid='false')
                                .mda-form-control-line
                                label.m0 Comments
                            span.mda-form-msg.right Any message here
                        span.input-group-btn
                            button.btn.btn-flat.btn-success.btn-circle(type='button')
                                em.ion-checkmark-round
                .mt
                    .media
                        .media-left
                            a(href='#')
                                img.media-object.img-circle.thumb48(src="app/img/user/01.jpg", alt="Image Post")
                        .media-body
                            h6.mt0.mb-sm Joel Murray
                                small.text-muted 2 days ago
                            .mb Pellentesque mauris orci, lobortis in tristique mollis, consequat eu magna.
                            ul.list-inline
                                li: a.text-soft(href="#"): em.ion-thumbsup.icon-2x
                                li: a.text-soft(href="#"): em.ion-thumbsdown.icon-2x
                                li: a.text-soft(href="#"): em.ion-android-share-alt.icon-2x
                    .media
                        .media-left
                            a(href='#')
                                img.media-object.img-circle.thumb48(src="app/img/user/02.jpg", alt="Image Post")
                        .media-body
                            h6.mt0.mb-sm Daryl Parker
                                small.text-muted 2 days ago
                            .mb Duis elit dolor, gravida vitae varius in, viverra eu nibh. In sit amet accumsan arcu.
                            ul.list-inline
                                li: a.text-soft(href="#"): em.ion-thumbsup.icon-2x
                                li: a.text-soft(href="#"): em.ion-thumbsdown.icon-2x
                                li: a.text-soft(href="#"): em.ion-android-share-alt.icon-2x
                            .media
                                .media-left
                                    a(href='#')
                                        img.media-object.img-circle.thumb48(src="app/img/user/03.jpg", alt="Image Post")
                                .media-body
                                    h6.mt0.mb-sm Eddie Kelly
                                        small.text-muted 2 days ago
                                    .mb Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla condimentum viverra vestibulum. Fusce eleifend ornare ante at dignissim.
                                    ul.list-inline
                                        li: a.text-soft(href="#"): em.ion-thumbsup.icon-2x
                                        li: a.text-soft(href="#"): em.ion-thumbsdown.icon-2x
                                        li: a.text-soft(href="#"): em.ion-android-share-alt.icon-2x
        .clearfix.mv-lg
            h5.pull-left
                a.btn.btn-circle.btn-default(href="#")
                    em.ion-ios-arrow-thin-left.icon-2x
                span.ml.text-white Older
            h5.pull-right
                span.mr.text-white Newer
                a.btn.btn-circle.btn-default(href="#")
                    em.ion-ios-arrow-thin-right.icon-2x
