.container.container-fluid
    .card: .card-body
        .text-center.pb-lg
            h3.text-bold Frequently Asked Questions
            p.text-muted Proin non lacinia sapien. Vivamus lorem justo, sollicitudin ac sollicitudin ut, aliquet sed tellus.
                br
                | Sed venenatis ullamcorper mauris et malesuada. Nunc vel ipsum vitae erat pharetra rhoncus eu eu tellus.
            br
            p Have more questions?
            button(type="button").btn.btn-info Contact with Us

        .row.mt-lg
            .col-md-6
                uib-accordion(close-others='true')
                    .b0(uib-accordion-group, class="panel-default", is-open='isAccOpen1', ng-init="isAccOpen1 = true")
                        uib-accordion-heading
                            small: em.ion-arrow-right-c.text-muted.mr.icon-lg
                            span What Assets Can I Use In My Items?
                        p Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.
                        p Proin ut urna enim. Nam non enim vitae mi semper egestas. Pellentesque convallis mauris eu elit imperdiet quis eleifend quam aliquet.
                        .pull-right
                            small.text-muted.mr Was this article helpful?
                            button(type="button").btn.btn-default.btn-xs: em.ion-chevron-up.text-muted
                            button(type="button").btn.btn-default.btn-xs: em.ion-chevron-down.text-muted
                    .b0(uib-accordion-group, class="panel-default", is-open='isAccOpen2')
                        uib-accordion-heading
                            small: em.ion-arrow-right-c.text-muted.mr.icon-lg
                            span Where is the Market Terms?
                        p Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.
                        p Proin ut urna enim. Nam non enim vitae mi semper egestas. Pellentesque convallis mauris eu elit imperdiet quis eleifend quam aliquet.
                        .pull-right
                            small.text-muted.mr Was this article helpful?
                            button(type="button").btn.btn-default.btn-xs: em.ion-chevron-up.text-muted
                            button(type="button").btn.btn-default.btn-xs: em.ion-chevron-down.text-muted
                    .b0(uib-accordion-group, class="panel-default", is-open='isAccOpen3')
                        uib-accordion-heading
                            small: em.ion-arrow-right-c.text-muted.mr.icon-lg
                            span Morbi pretium varius aliquam?
                        p Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.
                        p Proin ut urna enim. Nam non enim vitae mi semper egestas. Pellentesque convallis mauris eu elit imperdiet quis eleifend quam aliquet.
                        .pull-right
                            small.text-muted.mr Which Author Payment Option Do I Choose?
                            button(type="button").btn.btn-default.btn-xs: em.ion-chevron-up.text-muted
                            button(type="button").btn.btn-default.btn-xs: em.ion-chevron-down.text-muted
            .col-md-6
                uib-accordion(close-others='true')
                    .b0(uib-accordion-group, class="panel-default", is-open='isAccOpen5')
                        uib-accordion-heading
                            small: em.ion-arrow-right-c.text-muted.mr.icon-lg
                            span How to Contact an Author
                        p Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.
                        p Proin ut urna enim. Nam non enim vitae mi semper egestas. Pellentesque convallis mauris eu elit imperdiet quis eleifend quam aliquet.
                        .pull-right
                            small.text-muted.mr Was this article helpful?
                            button(type="button").btn.btn-default.btn-xs: em.ion-chevron-up.text-muted
                            button(type="button").btn.btn-default.btn-xs: em.ion-chevron-down.text-muted
                    .b0(uib-accordion-group, class="panel-default", is-open='isAccOpen6', , ng-init="isAccOpen6 = true")
                        uib-accordion-heading
                            small: em.ion-arrow-right-c.text-muted.mr.icon-lg
                            span What is Item Support?
                        p Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.
                        p Proin ut urna enim. Nam non enim vitae mi semper egestas. Pellentesque convallis mauris eu elit imperdiet quis eleifend quam aliquet.
                        .pull-right
                            small.text-muted.mr Was this article helpful?
                            button(type="button").btn.btn-default.btn-xs: em.ion-chevron-up.text-muted
                            button(type="button").btn.btn-default.btn-xs: em.ion-chevron-down.text-muted
                    .b0(uib-accordion-group, class="panel-default", is-open='isAccOpen7')
                        uib-accordion-heading
                            small: em.ion-arrow-right-c.text-muted.mr.icon-lg
                            span Where Is My Purchase Code?
                        p Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.
                        p Proin ut urna enim. Nam non enim vitae mi semper egestas. Pellentesque convallis mauris eu elit imperdiet quis eleifend quam aliquet.
                        .pull-right
                            small.text-muted.mr Was this article helpful?
                            button(type="button").btn.btn-default.btn-xs: em.ion-chevron-up.text-muted
                            button(type="button").btn.btn-default.btn-xs: em.ion-chevron-down.text-muted
