.container-fluid.container-unwrap
    .row
      .col-lg-4.col-md-6
        .card.b0: a.card-item(href="app/img/pic4.jpg", data-gallery="", title="Unsplash images")
            .card-item-image.bg-pic4
            .card-item-text.bg-fade
                .clearfix
                    h5.mv.pull-left Camera roll
                    h6.mv.pull-right.text-light 10:20
      .col-lg-4.col-md-6
        .card.b0: a.card-item(href="app/img/pic1.jpg", data-gallery="", title="Unsplash images")
            .card-item-image.bg-pic1
            .card-item-text.bg-fade
                .clearfix
                    h5.mv.pull-left Camera roll
                    h6.mv.pull-right.text-light 10:20
      .col-lg-4.col-md-6
        .card.b0: a.card-item(href="app/img/pic5.jpg", data-gallery="", title="Unsplash images")
            .card-item-image.bg-pic5
            .card-item-text.bg-fade
                .clearfix
                    h5.mv.pull-left Camera roll
                    h6.mv.pull-right.text-light 10:20
      .col-lg-4.col-md-6
        .card.b0: a.card-item(href="app/img/pic3.jpg", data-gallery="", title="Unsplash images")
            .card-item-image.bg-pic3
            .card-item-text.bg-fade
                .clearfix
                    h5.mv.pull-left Camera roll
                    h6.mv.pull-right.text-light 10:20
      .col-lg-4.col-md-6
        .card.b0: a.card-item(href="app/img/pic6.jpg", data-gallery="", title="Unsplash images")
            .card-item-image.bg-pic6
            .card-item-text.bg-fade
                .clearfix
                    h5.mv.pull-left Camera roll
                    h6.mv.pull-right.text-light 10:20
      .col-lg-4.col-md-6
        .card.b0: a.card-item(href="app/img/pic2.jpg", data-gallery="", title="Unsplash images")
            .card-item-image.bg-pic2
            .card-item-text.bg-fade
                .clearfix
                    h5.mv.pull-left Camera roll
                    h6.mv.pull-right.text-light 10:20
      .col-lg-4.col-md-6
        .card.b0: a.card-item(href="app/img/pic1.jpg", data-gallery="", title="Unsplash images")
            .card-item-image.bg-pic1
            .card-item-text.bg-fade
                .clearfix
                    h5.mv.pull-left Camera roll
                    h6.mv.pull-right.text-light 10:20
      .col-lg-4.col-md-6
        .card.b0: a.card-item(href="app/img/pic2.jpg", data-gallery="", title="Unsplash images")
            .card-item-image.bg-pic2
            .card-item-text.bg-fade
                .clearfix
                    h5.mv.pull-left Camera roll
                    h6.mv.pull-right.text-light 10:20
      .col-lg-4.col-md-6
        .card.b0: a.card-item(href="app/img/pic3.jpg", data-gallery="", title="Unsplash images")
            .card-item-image.bg-pic3
            .card-item-text.bg-fade
                .clearfix
                    h5.mv.pull-left Camera roll
                    h6.mv.pull-right.text-light 10:20
      .col-lg-4.col-md-6
        .card.b0: a.card-item(href="app/img/pic6.jpg", data-gallery="", title="Unsplash images")
            .card-item-image.bg-pic6
            .card-item-text.bg-fade
                .clearfix
                    h5.mv.pull-left Camera roll
                    h6.mv.pull-right.text-light 10:20

// The gallery preview container
#blueimp-gallery.blueimp-gallery
  .slides
    h3.title
    a.prev &lsaquo;
    a.next &rsaquo;
    a.close &times;
    a.play-pause
    ol.indicator
