.container.container-md

    .text-center.mb-lg.pb-lg
        .h2.text-bold Start your own app today
        p Demonstration plans in different options to fit your project

    .row
        // PLAN
        .col-sm-4
            .card.b
                .card-body.text-center.bb.bg-pink-300.text-white
                    .text-bold STARTER
                    h3.mv-lg
                        sup $
                        span.text-lg 17
                        span.text-xs /mo
                .card-body.text-center
                    p.mb-lg
                        span Unlimited Styles
                    p.mb-lg
                        span RTL &amp; Translation
                    p.mb-lg
                        span Customer support
                    p.mb-lg
                        span Free Updates
                    p.mb-lg
                        span Limited to one client
                    p.mb-lg
                        span Multiple installation
                    p.mb-lg
                        span Not ready for resale
                .card-body.text-center.bt
                    a.btn.btn-default.btn-flat(href='') SELECT THIS PLAN
        // PLAN
        .col-sm-4
            .card.b
                .card-body.text-center.bg-info
                    .text-bold IDEAL
                    h3.mv-lg
                        sup $
                        span.text-lg 49
                        span.text-xs /mo
                .card-body.text-center
                    p.mb-lg
                        span Unlimited Styles
                    p.mb-lg
                        span RTL &amp; Translation
                    p.mb-lg
                        span Customer support
                    p.mb-lg
                        span Free Updates
                    p.mb-lg
                        span Limited to one client
                    p.mb-lg
                        span Multiple installation
                    p.mb-lg
                        span Not ready for resale
                .card-body.text-center.bt
                    a.btn.btn-info.btn-raised(href='') BEST OPTION
        // PLAN
        .col-sm-4
            .card.b
                .card-body.text-center.bb.bg-deep-purple-500
                    .text-bold PREMIUM
                    h3.mv-lg
                        sup $
                        span.text-lg 95
                        span.text-xs /mo
                .card-body.text-center
                    p.mb-lg
                        span Unlimited Styles
                    p.mb-lg
                        span RTL &amp; Translation
                    p.mb-lg
                        span Customer support
                    p.mb-lg
                        span Free Updates
                    p.mb-lg
                        span Limited to one client
                    p.mb-lg
                        span Multiple installation
                    p.mb-lg
                        span Ready for resale*
                .card-body.text-center.bt
                    a.btn.btn-default.btn-flat(href='') SELECT THIS PLAN

    .text-center.mb-lg.pb-lg
        .h2.text-bold Alternative setup
    .row
        // PLAN
        .col-sm-4
            .card.b
                .card-body.text-center.bb.text-danger
                    em.ion-star.icon-2x
                    h3.mv-lg.text-bold
                        sup $
                        span.text-lg 17
                        span.text-xs /mo
                .card-body.text-center
                    p.mb-lg
                        span Unlimited Styles
                    p.mb-lg
                        span RTL &amp; Translation
                    p.mb-lg
                        span Customer support
                    p.mb-lg
                        span Free Updates
                    p.mb-lg
                        span Limited to one client
                    p.mb-lg
                        span Multiple installation
                    p.mb-lg
                        span Not ready for resale
                .card-body.text-center.bt.text-info
                    a.btn.btn-danger.btn-flat(href='') SELECT THIS PLAN
        // PLAN
        .col-sm-4
            .card.b
                .card-body.text-center.bb.text-success
                    em.ion-help-buoy.icon-2x
                    h3.mv-lg.text-bold
                        sup $
                        span.text-lg 49
                        span.text-xs /mo
                .card-body.text-center
                    p.mb-lg
                        span Unlimited Styles
                    p.mb-lg
                        span RTL &amp; Translation
                    p.mb-lg
                        span Customer support
                    p.mb-lg
                        span Free Updates
                    p.mb-lg
                        span Limited to one client
                    p.mb-lg
                        span Multiple installation
                    p.mb-lg
                        span Not ready for resale
                .card-body.text-center.bt
                    a.btn.btn-success.btn-raised(href='') BEST OPTION
        // PLAN
        .col-sm-4
            .card.b
                .card-body.text-center.bb.text-warning
                    em.ion-wand.icon-2x
                    h3.mv-lg.text-bold
                        sup $
                        span.text-lg 95
                        span.text-xs /mo
                .card-body.text-center
                    p.mb-lg
                        span Unlimited Styles
                    p.mb-lg
                        span RTL &amp; Translation
                    p.mb-lg
                        span Customer support
                    p.mb-lg
                        span Free Updates
                    p.mb-lg
                        span Limited to one client
                    p.mb-lg
                        span Multiple installation
                    p.mb-lg
                        span Ready for resale*
                .card-body.text-center.bt
                    a.btn.btn-warning.btn-flat(href='') SELECT THIS PLAN