.content-heading.bg-white
    .row
        .col-sm-9
            h4.m0.text-thin RiskMan Administrators
            small Create, Edit, Delete Administrators
.container-fluid(ng-controller='AdminsController as admins')
    .row
        .col-xs-12.col-lg-8
            .card
                .table-responsive
                    table.table.table-striped
                        thead
                            tr
                                th Actions
                                th User
                                th First
                                th Last
                                th Email
                        tbody
                            tr(ng-repeat='admin in admins.myAdmins')
                                td
                                    p.m0 
                                        a.btn.btn-raised.btn-warning.ripple.m-sm
                                            span.glyphicon.glyphicon-edit
                                        a.btn.btn-raised.btn-danger.ripple.m-sm
                                            span.glyphicon.glyphicon-ban-circle
                                td
                                    p.m0 {{admin.user_name}}
                                td
                                    p.m0 {{admin.first_name}}
                                td
                                    p.m0 {{admin.last_name}}
                                td
                                    p.m0 {{admin.email}}