.container.container-lg
    .row
        .col-md-6
            .card
                .card-heading Image with text items
                .mda-list
                    .mda-list-item
                        img.mda-list-item-img(src="app/img/user/01.jpg", alt="List user")
                        .mda-list-item-text
                            h3: a(href="#") Eric Graves
                            h4 Brunch this weekend?
                            p  I&apos;ll be in your neighborhood doing errands
                    .mda-list-item
                        img.mda-list-item-img(src="app/img/user/02.jpg", alt="List user")
                        .mda-list-item-text
                            h3: a(href="#") Catherine Crawford
                            h4 Brunch this weekend?
                            p  I&apos;ll be in your neighborhood doing errands
                    .mda-list-item
                        img.mda-list-item-img(src="app/img/user/03.jpg", alt="List user")
                        .mda-list-item-text
                            h3: a(href="#") Rosemary Jimenez
                            h4 Brunch this weekend?
                            p  I&apos;ll be in your neighborhood doing errands
                    .mda-list-item
                        img.mda-list-item-img(src="app/img/user/04.jpg", alt="List user")
                        .mda-list-item-text
                            h3: a(href="#") Guy Carpenter
                            h4 Brunch this weekend?
                            p  I&apos;ll be in your neighborhood doing errands
            .card.bg-primary
                .mda-list
                    .mda-list-item
                        .mda-list-item-icon
                            em.ion-android-call.icon-2x
                        .mda-list-item-text.mda-2-line
                            h3 (123) 456 789
                            h4.text-muted Home
                        .mda-list-item-icon.pull-right
                            em.ion-android-star.icon-lg
                    .mda-list-item
                        .mda-list-item-icon
                            em.ion-android-phone-portrait.icon-2x
                        .mda-list-item-text.mda-2-line
                            h3 (123) +15 321 654
                            h4.text-muted Mobile
                        .mda-list-item-icon.pull-right
                            em.ion-android-star.icon-lg
            .card.bg-pink-500
                .mda-list
                    .mda-list-item
                        .mda-list-item-icon
                            em.ion-android-call.icon-2x
                        .mda-list-item-text.mda-2-line
                            h3 (123) 456 789
                            h4.text-muted Home
                        .mda-list-item-icon.pull-right
                            em.ion-bookmark.icon-lg
                    .mda-list-item
                        .mda-list-item-icon
                            em.ion-android-phone-portrait.icon-2x
                        .mda-list-item-text.mda-2-line
                            h3 (123) +15 321 654
                            h4.text-muted Mobile
                        .mda-list-item-icon.pull-right
                            em.ion-bookmark.icon-lg
        .col-md-6
            .card
                .card-heading Bordered list with Icons &amp; text items
                .mda-list.mda-list-bordered
                    .mda-list-item
                        .mda-list-item-icon.bg-info
                            em.ion-coffee.icon-lg
                        .mda-list-item-text.mda-2-line
                            h3 Min Li Chan
                            h4 Brunch this weekend?
                    .mda-list-item
                        .mda-list-item-icon.bg-primary
                            em.ion-star.icon-lg
                        .mda-list-item-text.mda-2-line
                            h3 Min Li Chan
                            h4 Brunch this weekend?
                    .mda-list-item
                        .mda-list-item-icon.bg-deep-purple-500
                            em.ion-cloud.icon-lg
                        .mda-list-item-text.mda-2-line
                            h3 Min Li Chan
                            h4 Brunch this weekend?
                    .mda-list-item
                        .mda-list-item-initial.bg-pink-500 M
                        .mda-list-item-text.mda-2-line
                            h3 Min Li Chan
                            h4 Brunch this weekend?
                    .mda-list-item
                        .mda-list-item-initial.bg-green-500 S
                        .mda-list-item-text.mda-2-line
                            h3 Debra Steward
                            h4 Brunch this weekend?
            .card
                .card-heading Text tems
                ul.mda-list
                    li.mda-list-item
                        .mda-list-item-text
                            h3: a(href="#") Min Li Chan
                            h4 Brunch this weekend?
                            p  I&apos;ll be in your neighborhood doing errands
                    li.mda-list-item
                        .mda-list-item-text
                            h3: a(href="#") Min Li Chan
                            h4 Brunch this weekend?
                            p  I&apos;ll be in your neighborhood doing errands
                    li.mda-list-item
                        .mda-list-item-text
                            h3: a(href="#") Min Li Chan
                            h4 Brunch this weekend?
                            p  I&apos;ll be in your neighborhood doing errands
