.container-md(ng-controller="SweetAlertController as sweetalert")
    h4.page-header.mt0 Usage examples
    .list-group
        .list-group-item
            .pull-right
                p
                    a.btn.btn-primary(href='', ng-click='sweetalert.demo1();') Try me!
            p A basic message
    .list-group
        .list-group-item
            .pull-right
                p
                    a.btn.btn-primary(href='', ng-click='sweetalert.demo2();') Try me!
            p A title with a text under
    .list-group
        .list-group-item
            .pull-right
                p
                    a.btn.btn-primary(href='', ng-click='sweetalert.demo3();') Try me!
            p A success message!
    .list-group
        .list-group-item
            .pull-right
                p
                    a.btn.btn-primary(href='', ng-click='sweetalert.demo4();') Try me!
            p A warning message, with a function attached to the &quot;Confirm&quot;-button
    .list-group
        .list-group-item
            .pull-right
                p
                    a.btn.btn-primary(href='', ng-click='sweetalert.demo5();') Try me!
            p ... and by passing a parameter, you can execute something else for &quot;Cancel&quot;.
    .list-group
        .list-group-item
            .pull-right
                p
                    a.btn.btn-primary(href='', ng-click='sweetalert.demo6();') Try me!
            p A message with a custom icon
