.container.container-lg(ng-controller="DropzoneController as dz")
    h5.text-center.mt0 Dropzone
        br
        small DropzoneJS is an open source library that provides drag&apos;n&apos;drop file uploads with image previews.
        br
        small.spr It’s lightweight, doesn’t depend on any other library (like jQuery) and is
        small: a(href='http://www.dropzonejs.com/', target='_blank') highly customizable
    form.well.dropzone(action="#", method='post', enctype='multipart/form-data', ng-dropzone='', dropzone='dropzone', dropzone-config='dz.dropzoneConfig')
        .dropzone-previews
        button.btn.btn-primary.pull-right(type='submit') Upload!
    p This demo does not upload files to any server.
