.content-heading.bg-white
    .row
        .col-sm-9
            h4.m0.text-thin RiskMan Book Options
            small update Book Risk Management options
.container-fluid
    .row
        .col-sm-6
            .card(ng-controller='OptionsAuthController as o')
                .card-body
                    h4.card-title Client API Credentials (OAuth 2)
                    p.card-text In this section you can create, reset or delete credentials. This Authorizes the book access to the API.
                    .row
                        .col-sm-12
                            button.btn.btn-success(ng-show="!o.bookAuth.exists" ng-click="o.createAuth()") Create
                            button.btn.btn-danger(ng-show="o.bookAuth.exists" ng-click="o.deleteAuth()") Delete
                            button.btn.btn-warning(ng-show="o.bookAuth.exists" ng-click="o.saveAuth(); o.isFormValid();" ng-disabled="o.saveDisable") Save
                            button.btn.btn-info(ng-show="o.bookAuth.exists" ng-click="o.generatePass(); o.validatePass();") Generate Random Password
                            
                    .row.margin-top(ng-if="o.bookAuth.exists")
                        form
                            .form-group
                                .col-sm-6
                                    label.form-control-label(for="username") Username:
                                        button.btn.btn-raised(ng-show="o.userAvail !== -1" ng-class="{'btn-success':(o.userAvail === 1), 'btn-danger':(o.userAvail === 0)}")
                                            span(ng-class="{'ion-checkmark': (o.userAvail === 1), 'ion-close-circled': (o.userAvail === 0)}")
                                    input.form-control(type="text" placeholder="username" id="username" ng-model="o.bookAuth.client_id" ng-change="o.isUserAvail(); o.validateUser(); o.isFormValid();") 
                            .form-group
                                .col-sm-6
                                    label.form-control-label(for="password") Password:
                                        button.btn.btn-raised(ng-show="o.passAvail !== -1" ng-class="{'btn-success':(o.passAvail === 1), 'btn-danger':(o.passAvail === 0)}")
                                            span(ng-class="{'ion-checkmark': (o.passAvail === 1), 'ion-close-circled': (o.passAvail === 0)}")
                                    input.form-control(type="text" placeholder="password" id="password" ng-model="o.bookAuth.client_secret" ng-change="o.validatePass();o.isFormValid();")
                    .row.margin-top
                        .form-group
                            .col-sm-6
                                .alert.alert-warning(ng-show="!o.userError.valid" role="alert") {{o.userError.msg}}
                            .col-sm-6
                                .alert.alert-warning(ng-show="!o.passError.valid" role="alert") {{o.passError.msg}}
        .col-sm-6
            .card(ng-controller="OptionsFormatController as of")
                .card-body
                    h4.card-title API Format Options
                    p.card-text Input/Output Formatting Options
                    margin-top
                        form
                            .form-group
                                .row
                                    .col-md-12
                                        label.form-control-label(for="currency") Currency:
                                            select.form-control(name="currency" ng-model="of.bookFormat.currency")
                                                option(value="USD") USD
                                        p Input Currency to be converted to USD. This will be used in reports to visualize data in USD.
                                    .col-md-12
                                        label.form-control-label(for="timezone") Time Zone:
                                            select.form-control(name="timezone" ng-model="of.bookFormat.time_zone")
                                                option(value="America/New_York") America/New_York
                                        p Feed and Bets Time Zone used by the operator. To be converted to server time. Also used for report calculation.
                                    .col-md-12
                                        label.form-control-label(for="oddformat") Odd Format:
                                            select.form-control(name="oddformat" ng-model="of.bookFormat.odd_format")
                                                option(value="American") American
                                                option(value="Decimal") Decimal
                                        p Expected Input/Output for odds. Will be converted to our internal format.
                                    .col-md-12
                                        button.btn.btn-warning(ng-click="of.updateFormat()" ng-disabled="of.successMsg") Update
                                        button.btn.btn-raised.btn-success.am-slide-right(ng-show="of.successMsg")
                                            span.ion-checkmark
                                        button.btn.btn-raised.btn-danger.am-slide-right(ng-show="of.errorMsg")
                                            span.ion-close-circled
    .row
        .col-sm-12
            .card(ng-controller="OptionsRankingController as or")
                .card-body
                    h4.card-title API Ranking Options
                    p.card-text In this section we edit the raking settings for the suggestion system.
                    margin-top
                        .row
                            .col-sm-12
                                #gridContainer(dx-data-grid="or.gridOptions" dx-item-alias="ranking")
                                    div(data-options="dxTemplate:{ name: 'rank'}") 
                                        span {{ranking.data.rank}}
                                    div(data-options="dxTemplate:{ name: 'max_line_change_percent'}")
                                        span {{ranking.data.max_line_change_percent}}
                                    div(data-options="dxTemplate:{ name: 'max_amount_expected'}")
                                        span {{ranking.data.max_amount_expected}}
                                    div(data-options="dxTemplate:{ name: 'limit_percent'}")
                                        span {{ranking.data.limit_percent}}
                                    div(data-options="dxTemplate:{ name: 'limit_amount'}")
                                        span {{ranking.data.limit_amount}}
                                        
            
                                    
                                        
            
                