.content-heading.bg-white
    .row
        .col-sm-9
            h4.m0.text-thin RiskMan Book Options
            small update Book Risk Management options
.container-fluid(ng-controller='OptionsController as book')
    
            
                                    
                                        
            
                