
<div class="content-heading bg-white">
  <div class="row">
    <div class="col-sm-9">
      <h4 class="m0 text-thin">RiskMan Administrators</h4><small>Create, Edit, Delete Administrators</small>
    </div>
  </div>
</div>
<div ng-controller="AdminsController as admins" class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-lg-8">
      <div class="card">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Actions
                  <create-admin-pop ng-show="true"></create-admin-pop>
                </th>
                <th>User</th>
                <th>First</th>
                <th>Last</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="admin in admins.myAdmins">
                <td>
                  <p class="m0"> <a class="btn btn-raised btn-warning ripple m-sm"><span class="ion-ios-compose"></span></a><a class="btn btn-raised btn-danger ripple m-sm"><span class="ion-ios-trash"></span></a></p>
                </td>
                <td>
                  <p class="m0">{{admin.user_name}}</p>
                </td>
                <td>
                  <p class="m0">{{admin.first_name}}</p>
                </td>
                <td>
                  <p class="m0">{{admin.last_name}}</p>
                </td>
                <td>
                  <p class="m0">{{admin.email}}</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>