<div class="popover delete-admin-pop" tabindex="-1" ng-show="content">
  <div class="arrow"></div>
  <h3 class="popover-title" ng-bind-html="title" ng-show="title"></h3>
  <div class="popover-content">
    <form name="popoverForm">
      <p ng-bind-html="content" style="min-width:100px;"></p>
      <div class="form-group">
        <div class="form-actions">
          <button 
              type="button" 
              class="btn btn-danger" 
              ng-click="$hide()">
              No
          </button>
          <button 
              type="button" 
              class="btn btn-primary" 
              ng-click="deleteAdmin()">
              Yes
          </button>
        </div>
      </div>
    </form>
    <div 
        class="alert alert-danger"
        ng-show="errorMsg.show">
        {{errorMsg.msg}}
    </div>
    <div 
        class="alert alert-success"
        ng-show="successMsg.show">
        {{successMsg.msg}}
    </div>
  </div>
</div>
