<div 
    rel="tooltip" 
    title="" 
    data-original-title="Remove"
    style="float:left;"
    >
    <button
        type="button"
        class="btn btn-raised btn-danger ripple m-sm"
        title="{{deladminPop.title}}" 
        data-content="{{deladminPop.content}}" 
        data-template-url="app/views/deleteAdminPopTemplate.html" 
        data-animation="am-flip-x" 
        data-auto-close="1" 
        data-placement="bottom-left"
        data-viewport="body"
        bs-popover
    >
        <i class="ion-ios-trash"></i>
    </button>
</div>