
<div ng-controller="GMapFullController as gmapfull" class="container-full">
  <div class="row fh bg-white">
    <div class="col-md-3 fh hidden-sm hidden-xs pr0">
      <div class="p-lg">
        <h5 ng-if="gmapfull.myMarkers.length" class="text-center">Places</h5>
        <p class="text-center">Click on each item to focus a marker in the map</p>
      </div>
      <div class="list-group list-group-unstyle"><a ng-repeat="marker in gmapfull.myMarkers" href="" ng-click="gmapfull.myMap.panTo(marker.position.getPosition())" class="list-group-item"><em class="pull-right ion-ios-arrow-forward"></em>{{marker.name}}</a></div>
    </div>
    <div class="col-md-9 fh pl0">
      <ui-gmap-google-map center="gmapfull.map.center" zoom="gmapfull.map.zoom" draggable="true" options="gmapfull.mapOptions" class="fh">
        <ui-gmap-marker ng-repeat="marker in gmapfull.myMarkers" coords="marker.coords" idkey="marker.id"></ui-gmap-marker>
      </ui-gmap-google-map>
    </div>
  </div>
</div>